* {
    font-family: メイリオ;
    color: #444;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(-135deg, #E4A972, #9941D8)
}

.center {
    text-align: center;
}

h1 {
    margin: 20px auto;
    text-align: center;
}

.footer {
    color: #AAA;
    font-size: 10pt;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
}

.main {
    width: 800px;
    height: calc(100vh - 50px);
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

#color-creator {
    margin: 20px auto;
    display: flex;
    align-items: center;
}

#color-creator .left, #color-creator .right {
    margin: 0 10px;
    height: 320px;
    display: flex;
    flex-direction: column;
}

#color-panel {
    margin : 10px;
    width: 300px;
    height: 300px;
    background-color: #888;
    border: 2px solid #888;
}

#color-sliders {
    margin-top: 20px;
    height: 250px;
    display: flex;
    align-items: center;
}

input[type=range] {
    -webkit-appearance: none; /* WebKit */
    transform: rotate(-90deg);
    width: 200px;
    height: 10px;
    background-color: #444;
    margin: -70px;
    border-radius: 5px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}
input[type=range]:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.8);
}

#slider-r::-webkit-slider-thumb {
    background-color: #f00;
}
#slider-g::-webkit-slider-thumb {
    background-color: #0f0;
}
#slider-b::-webkit-slider-thumb {
    background-color: #00f;
}

#rgb-values span {
    width: 35px;
    display: inline-block;
}

#loading {
    display: table;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: 0.8;
    background: url("gif-load.gif") center center no-repeat;
}

#query {
    display: flex;
    margin-bottom: 20px;
}

button {
    font-size: 12pt;
    text-align: center;
    font-weight: 600;
    width: 200;
    height: 50px;
    cursor: pointer;
}

#btn-query {
    font-size: 14pt;
    width: 400px;
    transition: color 0.2s linear;
}
#btn-query:hover {
    color: #f44;
}

#result {
    font-size: 14pt;
    color: #fff;
    font-weight: 600;
    line-height: 50px;
    width: 200px;
    padding: 0 20px;
    background-color: #44a;
}

#color-select {
    width: 750px;
    display: flex;
    justify-content: space-between;
}

#color-select button {
    width: 100px;
    border: 2px solid #888;
    border-radius: 8px;
}
#color-select button:hover {
    transform: scale(1.1);
}

#btn-lbl-white {
    background-color: rgba(255,255,255,0.9);
}
#btn-lbl-black {
    background-color: rgba(0,0,0,0.9);
    color: #fff;
}
#btn-lbl-red {
    background-color: rgba(255,0,0,0.9);
    color: #fff;
}
#btn-lbl-yellow {
    background-color: rgba(255,255,0,0.9);
}
#btn-lbl-green {
    background-color: rgba(0,255,0,0.9);
}
#btn-lbl-blue {
    background-color: rgba(0,0,255,0.9);
    color: #fff;
}
#btn-lbl-purple {
    background-color: rgba(255,0,255,0.9);
    color: #fff;
}

